@model IEnumerable<bookstore.Models.BookViewModel>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<table class="table" id="searchResults">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEdition)
        </th>
        <th>
            Authors
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEdition)
            </td>
            <td>
                @foreach (var author in item.BookAuthors)
                {
                    <span>@author.AuthorID</span>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID })
            </td>
        </tr>
    }

</table>